table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
  }
  
  td {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 15px;
    width: 10%;
  }
  th {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 15px;
    width: 10%;
  }